  <link rel="stylesheet" type="text/css" media="screen" href="/styles/board.css"/>
</head>

<body class="d-flex align-items-center flex-wrap">
  {{!-- <header class="position-absolute d-flex justify-content-center">
    <div class="row">
      <div class="col-6-md console safe">
        <h2>SAFE</h2>
      </div>
      <div class="col-6-md console prey">
        <h2>PREY</h2>
      </div>
    </div>
  </header> --}}
  <main class="position-relative">
    <div class="predator position-absolute d-flex flex-wrap flex-column text-center" data-position="">
      <img id="predator-img" src="" alt="predator image">
      <p id="predator-name"></p>
    </div>
    <div class="players position-relative">
      <div class="player player1 position-absolute text-center" data-correct="0" data-position="">
        <img id="p1-img" src="" alt="player 1 image">
        <p id="p1-name"></p>
      </div>
      <div class="player player2 position-absolute text-center" data-correct="0" data-position="">
        <img id="p2-img" src="" alt="player 2 image">
        <p id="p2-name"></p>
      </div>
      <div class="player player3 position-absolute text-center" data-correct="0" data-position="">
        <img id="p3-img" src="" alt="player 3 image">
        <p id="p3-name"></p>
      </div>
    </div>
    <div class="cabin position-absolute d-flex flex-wrap flex-column text-center">
      <img id="cabin-img" src="./images/board_cabin.png" alt="predator image">
    </div>
  </main>

  
    <a style="display: none;" id="modal-question" data-toggle="modal" data-target=".question-modal"></a>
    <a style="display: none;" id="initial-countdown" data-toggle="modal" data-target=".initial-countdown"></a>
    <a style="display: none;" id="game-over" data-toggle="modal" data-target=".game-over"></a>
    <a style="display: none;" id="winners-modal" data-toggle="modal" data-target=".winners-modal"></a>

    <div class="modal fade question-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-question-dialog modal-dialog">
        <div class="modal-content">

          <div class="modal-question-body modal-body d-flex d-wrap flex-column">
            <div class="timer-div d-flex justify-content-start align-items-end position-relative">
              <div id="timer" class="position-absolute">

              </div>
            </div>

            <div class="round-div d-flex align-left">
              <p>Round <span id="question-number"></span></p>
            </div>

            <div class="question-div d-flex flex-wrap flex-column justify-content-center">
              <div id="questions">
                {{#each questions}}
                  <div class="no-show" id={{@index}} data-correct={{this.correct}}>
                    <p id="question">{{this.question}}</p>
                    <p class="choices A">A. {{this.A}}</p>
                    <p class="choices B">B. {{this.B}}</p>
                    <p class="choices C">C. {{this.C}}</p>
                    <p class="choices D">D. {{this.D}}</p>
                  </div>
                {{/each}}
              </div>
            </div>

            <button style="display: none;" type="button" class="close-modal-question" data-dismiss="modal"></button>

          </div>

        </div>
      </div>
    </div>

    <div class="modal fade initial-countdown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="countdown-body modal-body d-flex d-wrap flex-column">
            <h1 id="countdown">5</h1>
            <button style="display: none;" type="button" class="close-modal" data-dismiss="modal"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade game-over" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="countdown-body modal-body d-flex d-wrap flex-column">
            <h1 id="game-over">Game Over</h1>
            <button style="display: none;" type="button" class="close-modal" data-dismiss="modal"></button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Modal for winners --}}
    <div class="modal fade winners-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-question-dialog modal-dialog">
        <div class="modal-content">

          <div class="modal-question-body modal-body d-flex d-wrap flex-column text-center">
            <h1>Congratulations! You survived!</h1>
            <div id="winners">
              
            </div>            
          </div>

        </div>
      </div>
    </div>

  {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/game.js"></script>
</body>