  <link rel="stylesheet" type="text/css" media="screen" href="/styles/board.css"/>
  <script src="/js/game.js"></script>
</head>

<body class="d-flex align-items-center">

  <div id="questions">
    {{#each questions}}
      <p>Question: {{this.question}}</p>
      <p>Choices: {{this.correct}}, {{this.incorrect1}}, {{this.incorrect2}}, {{this.incorrect3}}</p>
    {{/each}}
  </div>


  <main class="position-relative">
    <div class="predator position-absolute d-flex flex-wrap flex-column text-center">
      <img id="predator-img" src="" alt="predator image">
      <p id="predator-name"></p>
    </div>    
    <div class="players position-relative">
      <div class="player player1 position-absolute text-center">
        <img id="p1-img" src="" alt="player 1 image">
        <p id="p1-name"></p>
      </div>
      <div class="player player2 position-absolute text-center">
        <img id="p2-img" src="" alt="player 2 image">
        <p id="p2-name"></p>
      </div>
      <div class="player player3 position-absolute text-center">
        <img id="p3-img" src="" alt="player 3 image">
        <p id="p3-name"></p>
      </div>
    </div>
  </main>
  
    <a style="display: none;" id="modal-question" data-toggle="modal" data-target=".question-modal"></a>
    <a style="display: none;" id="initial-countdown" data-toggle="modal" data-target=".initial-countdown"></a>

    <div class="modal fade question-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-question-dialog modal-dialog">
        <div class="modal-content">

          <div class="modal-question-body modal-body d-flex d-wrap flex-column">
            <div class="timer-div d-flex justify-content-start align-items-end position-relative">
              <div id="timer" class="position-absolute"></div>
            </div>

            <div class="round-div d-flex align-left">
              <p>Round <span id="question-number"></span></p>
            </div>

            <div class="question-div d-flex flex-wrap flex-column justify-content-center">
              <div id="question"></div>
              <div id="choices"></div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="modal fade initial-countdown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="countdown-body modal-body d-flex d-wrap flex-column">
            <h1 id="countdown">5</h1>
            <button style="display: none;" type="button" class="close-modal" data-dismiss="modal"></button>
          </div>
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>